*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.-top-3 {
  top: -0.75rem;
}

.bottom-\[13px\] {
  bottom: 13px;
}

.left-\[130px\] {
  left: 130px;
}

.left-\[160px\] {
  left: 160px;
}

.left-\[520px\] {
  left: 520px;
}

.right-4 {
  right: 1rem;
}

.right-\[170px\] {
  right: 170px;
}

.top-\[150px\] {
  top: 150px;
}

.top-\[200px\] {
  top: 200px;
}

.top-\[270px\] {
  top: 270px;
}

.top-\[320px\] {
  top: 320px;
}

.top-\[330px\] {
  top: 330px;
}

.top-\[50\%\] {
  top: 50%;
}

.top-\[72\%\] {
  top: 72%;
}

.bottom-2 {
  bottom: 0.5rem;
}

.bottom-\[5px\] {
  bottom: 5px;
}

.bottom-\[5\%\] {
  bottom: 5%;
}

.bottom-\[1\%\] {
  bottom: 1%;
}

.top-\[20px\] {
  top: 20px;
}

.left-3 {
  left: 0.75rem;
}

.top-\[300px\] {
  top: 300px;
}

.top-\[370px\] {
  top: 370px;
}

.top-\[400px\] {
  top: 400px;
}

.top-\[450px\] {
  top: 450px;
}

.left-\[480px\] {
  left: 480px;
}

.left-\[400px\] {
  left: 400px;
}

.left-\[420px\] {
  left: 420px;
}

.top-\[490px\] {
  top: 490px;
}

.top-\[50px\] {
  top: 50px;
}

.left-6 {
  left: 1.5rem;
}

.left-\[410px\] {
  left: 410px;
}

.top-\[100px\] {
  top: 100px;
}

.top-\[30px\] {
  top: 30px;
}

.bottom-\[30px\] {
  bottom: 30px;
}

.left-\[450px\] {
  left: 450px;
}

.left-\[5000px\] {
  left: 5000px;
}

.left-\[500px\] {
  left: 500px;
}

.left-\[50px\] {
  left: 50px;
}

.left-\[600px\] {
  left: 600px;
}

.left-\[620px\] {
  left: 620px;
}

.left-\[610px\] {
  left: 610px;
}

.left-\[608px\] {
  left: 608px;
}

.left-\[605px\] {
  left: 605px;
}

.left-\[630px\] {
  left: 630px;
}

.left-\[627px\] {
  left: 627px;
}

.left-\[624px\] {
  left: 624px;
}

.z-20 {
  z-index: 20;
}

.m-0 {
  margin: 0px;
}

.m-2 {
  margin: 0.5rem;
}

.m-3 {
  margin: 0.75rem;
}

.m-\[13px\] {
  margin: 13px;
}

.m-\[15px\] {
  margin: 15px;
}

.mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.mx-\[100px\] {
  margin-left: 100px;
  margin-right: 100px;
}

.mx-\[150px\] {
  margin-left: 150px;
  margin-right: 150px;
}

.mx-\[223px\] {
  margin-left: 223px;
  margin-right: 223px;
}

.mx-\[60px\] {
  margin-left: 60px;
  margin-right: 60px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.my-\[20px\] {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-\[25px\] {
  margin-top: 25px;
  margin-bottom: 25px;
}

.my-\[30px\] {
  margin-top: 30px;
  margin-bottom: 30px;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.mx-\[228px\] {
  margin-left: 228px;
  margin-right: 228px;
}

.my-\[228px\] {
  margin-top: 228px;
  margin-bottom: 228px;
}

.mx-\[200px\] {
  margin-left: 200px;
  margin-right: 200px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-\[5px\] {
  margin-bottom: 5px;
}

.mb-\[60px\] {
  margin-bottom: 60px;
}

.ml-0 {
  margin-left: 0px;
}

.ml-10 {
  margin-left: 2.5rem;
}

.ml-4 {
  margin-left: 1rem;
}

.ml-5 {
  margin-left: 1.25rem;
}

.ml-6 {
  margin-left: 1.5rem;
}

.ml-7 {
  margin-left: 1.75rem;
}

.ml-\[10px\] {
  margin-left: 10px;
}

.ml-\[120px\] {
  margin-left: 120px;
}

.ml-\[20px\] {
  margin-left: 20px;
}

.ml-\[24px\] {
  margin-left: 24px;
}

.ml-\[300px\] {
  margin-left: 300px;
}

.ml-\[39px\] {
  margin-left: 39px;
}

.ml-\[71\%\] {
  margin-left: 71%;
}

.ml-\[87px\] {
  margin-left: 87px;
}

.ml-\[92px\] {
  margin-left: 92px;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mr-5 {
  margin-right: 1.25rem;
}

.mr-\[20px\] {
  margin-right: 20px;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mt-\[10px\] {
  margin-top: 10px;
}

.mt-\[16px\] {
  margin-top: 16px;
}

.mt-\[200px\] {
  margin-top: 200px;
}

.mt-\[20px\] {
  margin-top: 20px;
}

.mt-\[220px\] {
  margin-top: 220px;
}

.mt-\[22px\] {
  margin-top: 22px;
}

.mt-\[24px\] {
  margin-top: 24px;
}

.mt-\[26px\] {
  margin-top: 26px;
}

.mt-\[30px\] {
  margin-top: 30px;
}

.mt-\[37px\] {
  margin-top: 37px;
}

.mt-\[41px\] {
  margin-top: 41px;
}

.mt-\[50px\] {
  margin-top: 50px;
}

.mt-\[5px\] {
  margin-top: 5px;
}

.mt-\[60px\] {
  margin-top: 60px;
}

.mt-\[67px\] {
  margin-top: 67px;
}

.mt-\[70px\] {
  margin-top: 70px;
}

.mt-\[75px\] {
  margin-top: 75px;
}

.mt-\[9px\] {
  margin-top: 9px;
}

.mt-auto {
  margin-top: auto;
}

.mt-\[100px\] {
  margin-top: 100px;
}

.mt-\[400px\] {
  margin-top: 400px;
}

.mt-\[300px\] {
  margin-top: 300px;
}

.mt-\[240px\] {
  margin-top: 240px;
}

.mt-\[15px\] {
  margin-top: 15px;
}

.mt-\[3\\5px\] {
  margin-top: 3\5px;
}

.mt-\[35px\] {
  margin-top: 35px;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.hidden {
  display: none;
}

.h-10 {
  height: 2.5rem;
}

.h-12 {
  height: 3rem;
}

.h-\[110px\] {
  height: 110px;
}

.h-\[150px\] {
  height: 150px;
}

.h-\[206px\] {
  height: 206px;
}

.h-\[25px\] {
  height: 25px;
}

.h-\[30px\] {
  height: 30px;
}

.h-\[324px\] {
  height: 324px;
}

.h-\[35px\] {
  height: 35px;
}

.h-\[38px\] {
  height: 38px;
}

.h-\[39px\] {
  height: 39px;
}

.h-\[40px\] {
  height: 40px;
}

.h-\[440px\] {
  height: 440px;
}

.h-\[441px\] {
  height: 441px;
}

.h-\[500px\] {
  height: 500px;
}

.h-\[50px\] {
  height: 50px;
}

.h-\[530px\] {
  height: 530px;
}

.h-\[53px\] {
  height: 53px;
}

.h-\[55px\] {
  height: 55px;
}

.h-\[564px\] {
  height: 564px;
}

.h-\[60px\] {
  height: 60px;
}

.h-\[62px\] {
  height: 62px;
}

.h-\[70px\] {
  height: 70px;
}

.h-\[80px\] {
  height: 80px;
}

.h-auto {
  height: auto;
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

.h-\[100px\] {
  height: 100px;
}

.h-\[90px\] {
  height: 90px;
}

.h-0\.5 {
  height: 0.125rem;
}

.h-\[20px\] {
  height: 20px;
}

.h-\[700px\] {
  height: 700px;
}

.h-\[550px\] {
  height: 550px;
}

.min-h-screen {
  min-height: 100vh;
}

.w-1\/2 {
  width: 50%;
}

.w-10 {
  width: 2.5rem;
}

.w-\[108px\] {
  width: 108px;
}

.w-\[110px\] {
  width: 110px;
}

.w-\[115px\] {
  width: 115px;
}

.w-\[135px\] {
  width: 135px;
}

.w-\[145px\] {
  width: 145px;
}

.w-\[167px\] {
  width: 167px;
}

.w-\[168px\] {
  width: 168px;
}

.w-\[200px\] {
  width: 200px;
}

.w-\[218px\] {
  width: 218px;
}

.w-\[268px\] {
  width: 268px;
}

.w-\[280px\] {
  width: 280px;
}

.w-\[30px\] {
  width: 30px;
}

.w-\[325px\] {
  width: 325px;
}

.w-\[349px\] {
  width: 349px;
}

.w-\[400px\] {
  width: 400px;
}

.w-\[40px\] {
  width: 40px;
}

.w-\[486px\] {
  width: 486px;
}

.w-\[50px\] {
  width: 50px;
}

.w-\[550px\] {
  width: 550px;
}

.w-\[55px\] {
  width: 55px;
}

.w-\[80\%\] {
  width: 80%;
}

.w-\[90\%\] {
  width: 90%;
}

.w-auto {
  width: auto;
}

.w-full {
  width: 100%;
}

.w-\[600px\] {
  width: 600px;
}

.w-\[300px\] {
  width: 300px;
}

.w-1\/5 {
  width: 20%;
}

.w-2\/5 {
  width: 40%;
}

.w-\[40\%\] {
  width: 40%;
}

.w-\[39\%\] {
  width: 39%;
}

.w-\[37\%\] {
  width: 37%;
}

.w-\[20px\] {
  width: 20px;
}

.w-\[150px\] {
  width: 150px;
}

.w-\[140px\] {
  width: 140px;
}

.w-\[130px\] {
  width: 130px;
}

.w-\[60px\] {
  width: 60px;
}

.w-\[70px\] {
  width: 70px;
}

.max-w-\[650px\] {
  max-width: 650px;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-auto {
  flex: 1 1 auto;
}

.-translate-y-1\/2 {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-pointer {
  cursor: pointer;
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.gap-10 {
  gap: 2.5rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-\[15px\] {
  gap: 15px;
}

.gap-\[20px\] {
  gap: 20px;
}

.gap-\[40px\] {
  gap: 40px;
}

.gap-\[45px\] {
  gap: 45px;
}

.gap-\[5px\] {
  gap: 5px;
}

.gap-\[60px\] {
  gap: 60px;
}

.gap-x-\[200px\] {
  -moz-column-gap: 200px;
       column-gap: 200px;
}

.gap-y-3 {
  row-gap: 0.75rem;
}

.gap-x-3 {
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
}

.gap-x-\[500px\] {
  -moz-column-gap: 500px;
       column-gap: 500px;
}

.gap-y-2 {
  row-gap: 0.5rem;
}

.gap-y-\[10px\] {
  row-gap: 10px;
}

.space-x-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-3 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.75rem * var(--tw-space-x-reverse));
  margin-left: calc(0.75rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-5 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1.25rem * var(--tw-space-x-reverse));
  margin-left: calc(1.25rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-6 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1.5rem * var(--tw-space-x-reverse));
  margin-left: calc(1.5rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-\[10px\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(10px * var(--tw-space-x-reverse));
  margin-left: calc(10px * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-\[15px\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(15px * var(--tw-space-x-reverse));
  margin-left: calc(15px * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-\[28px\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(28px * var(--tw-space-x-reverse));
  margin-left: calc(28px * calc(1 - var(--tw-space-x-reverse)));
}

.space-y-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}

.space-y-\[14px\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(14px * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(14px * var(--tw-space-y-reverse));
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.rounded-sm {
  border-radius: 0.125rem;
}

.rounded {
  border-radius: 0.25rem;
}

.border {
  border-width: 1px;
}

.border-b-2 {
  border-bottom-width: 2px;
}

.border-t-0 {
  border-top-width: 0px;
}

.border-dashed {
  border-style: dashed;
}

.border-none {
  border-style: none;
}

.border-black {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity, 1));
}

.border-black\/20 {
  border-color: rgb(0 0 0 / 0.2);
}

.border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity, 1));
}

.border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity, 1));
}

.border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity, 1));
}

.bg-\[\#005CA5\] {
  --tw-bg-opacity: 1;
  background-color: rgb(0 92 165 / var(--tw-bg-opacity, 1));
}

.bg-\[\#0067B8\] {
  --tw-bg-opacity: 1;
  background-color: rgb(0 103 184 / var(--tw-bg-opacity, 1));
}

.bg-\[\#4CB5F9\] {
  --tw-bg-opacity: 1;
  background-color: rgb(76 181 249 / var(--tw-bg-opacity, 1));
}

.bg-\[\#ACC6F9\] {
  --tw-bg-opacity: 1;
  background-color: rgb(172 198 249 / var(--tw-bg-opacity, 1));
}

.bg-\[\#F2F2F2\] {
  --tw-bg-opacity: 1;
  background-color: rgb(242 242 242 / var(--tw-bg-opacity, 1));
}

.bg-\[\#F78C30\] {
  --tw-bg-opacity: 1;
  background-color: rgb(247 140 48 / var(--tw-bg-opacity, 1));
}

.bg-\[\#F8F9FA\] {
  --tw-bg-opacity: 1;
  background-color: rgb(248 249 250 / var(--tw-bg-opacity, 1));
}

.bg-\[\#FAFAFA\] {
  --tw-bg-opacity: 1;
  background-color: rgb(250 250 250 / var(--tw-bg-opacity, 1));
}

.bg-\[\#FBF1F1\] {
  --tw-bg-opacity: 1;
  background-color: rgb(251 241 241 / var(--tw-bg-opacity, 1));
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}

.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1));
}

.bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity, 1));
}

.bg-green-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(34 197 94 / var(--tw-bg-opacity, 1));
}

.bg-transparent {
  background-color: transparent;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-yellow-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(250 204 21 / var(--tw-bg-opacity, 1));
}

.bg-gray-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(107 114 128 / var(--tw-bg-opacity, 1));
}

.bg-\[\#CACACA\] {
  --tw-bg-opacity: 1;
  background-color: rgb(202 202 202 / var(--tw-bg-opacity, 1));
}

.bg-gray-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity, 1));
}

.bg-\[\#0A8020\] {
  --tw-bg-opacity: 1;
  background-color: rgb(10 128 32 / var(--tw-bg-opacity, 1));
}

.p-2 {
  padding: 0.5rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.p-5 {
  padding: 1.25rem;
}

.p-\[20px\] {
  padding: 20px;
}

.p-\[4px\] {
  padding: 4px;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-\[20px\] {
  padding-left: 20px;
  padding-right: 20px;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-\[20px\] {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pl-4 {
  padding-left: 1rem;
}

.pl-6 {
  padding-left: 1.5rem;
}

.pl-\[24px\] {
  padding-left: 24px;
}

.pr-10 {
  padding-right: 2.5rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pr-\[30px\] {
  padding-right: 30px;
}

.pr-\[40px\] {
  padding-right: 40px;
}

.pt-0 {
  padding-top: 0px;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-24 {
  padding-top: 6rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pt-\[10px\] {
  padding-top: 10px;
}

.pt-\[13px\] {
  padding-top: 13px;
}

.pt-\[19px\] {
  padding-top: 19px;
}

.pt-\[20px\] {
  padding-top: 20px;
}

.pt-\[48px\] {
  padding-top: 48px;
}

.pt-\[9px\] {
  padding-top: 9px;
}

.pl-\[20px\] {
  padding-left: 20px;
}

.pr-\[20px\] {
  padding-right: 20px;
}

.pl-\[60px\] {
  padding-left: 60px;
}

.pl-\[50px\] {
  padding-left: 50px;
}

.pl-\[46px\] {
  padding-left: 46px;
}

.pt-\[8px\] {
  padding-top: 8px;
}

.text-center {
  text-align: center;
}

.text-\[10px\] {
  font-size: 10px;
}

.text-\[11px\] {
  font-size: 11px;
}

.text-\[12px\] {
  font-size: 12px;
}

.text-\[13px\] {
  font-size: 13px;
}

.text-\[14px\] {
  font-size: 14px;
}

.text-\[15px\] {
  font-size: 15px;
}

.text-\[16px\] {
  font-size: 16px;
}

.text-\[17px\] {
  font-size: 17px;
}

.text-\[18px\] {
  font-size: 18px;
}

.text-\[19px\] {
  font-size: 19px;
}

.text-\[20px\] {
  font-size: 20px;
}

.text-\[22px\] {
  font-size: 22px;
}

.text-\[23px\] {
  font-size: 23px;
}

.text-\[25px\] {
  font-size: 25px;
}

.text-\[29px\] {
  font-size: 29px;
}

.text-\[30px\] {
  font-size: 30px;
}

.text-\[37px\] {
  font-size: 37px;
}

.text-\[38px\] {
  font-size: 38px;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.font-bold {
  font-weight: 700;
}

.font-medium {
  font-weight: 500;
}

.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.text-\[\#056AB9\] {
  --tw-text-opacity: 1;
  color: rgb(5 106 185 / var(--tw-text-opacity, 1));
}

.text-\[\#189DF6\] {
  --tw-text-opacity: 1;
  color: rgb(24 157 246 / var(--tw-text-opacity, 1));
}

.text-\[\#736161\] {
  --tw-text-opacity: 1;
  color: rgb(115 97 97 / var(--tw-text-opacity, 1));
}

.text-\[\#d5d5d5\] {
  --tw-text-opacity: 1;
  color: rgb(213 213 213 / var(--tw-text-opacity, 1));
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity, 1));
}

.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity, 1));
}

.text-green-400 {
  --tw-text-opacity: 1;
  color: rgb(74 222 128 / var(--tw-text-opacity, 1));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity, 1));
}

.text-blue-800 {
  --tw-text-opacity: 1;
  color: rgb(30 64 175 / var(--tw-text-opacity, 1));
}

.text-red-400 {
  --tw-text-opacity: 1;
  color: rgb(248 113 113 / var(--tw-text-opacity, 1));
}

.text-\[\#231f20\] {
  --tw-text-opacity: 1;
  color: rgb(35 31 32 / var(--tw-text-opacity, 1));
}

.underline {
  text-decoration-line: underline;
}

.decoration-1 {
  text-decoration-thickness: 1px;
}

.decoration-2 {
  text-decoration-thickness: 2px;
}

.underline-offset-2 {
  text-underline-offset: 2px;
}

.underline-offset-4 {
  text-underline-offset: 4px;
}

.placeholder-blue-600::-moz-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(37 99 235 / var(--tw-placeholder-opacity, 1));
}

.placeholder-blue-600::placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(37 99 235 / var(--tw-placeholder-opacity, 1));
}

.placeholder-blue-300::-moz-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(147 197 253 / var(--tw-placeholder-opacity, 1));
}

.placeholder-blue-300::placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(147 197 253 / var(--tw-placeholder-opacity, 1));
}

.shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-xl {
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-2xl {
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-black\/20 {
  --tw-shadow-color: rgb(0 0 0 / 0.2);
  --tw-shadow: var(--tw-shadow-colored);
}

.ring-1 {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.ring-black\/10 {
  --tw-ring-color: rgb(0 0 0 / 0.1);
}

.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-200 {
  transition-duration: 200ms;
}

.hover\:-translate-x-2:hover {
  --tw-translate-x: -0.5rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:translate-x-2:hover {
  --tw-translate-x: 0.5rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:cursor-pointer:hover {
  cursor: pointer;
}

.hover\:bg-\[\#cecdcd\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(206 205 205 / var(--tw-bg-opacity, 1));
}

.hover\:bg-gray-400:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(156 163 175 / var(--tw-bg-opacity, 1));
}

.hover\:underline:hover {
  text-decoration-line: underline;
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 640px) {
  .sm\:left-\[245px\] {
    left: 245px;
  }

  .sm\:left-\[275px\] {
    left: 275px;
  }

  .sm\:right-\[295px\] {
    right: 295px;
  }

  .sm\:ml-4 {
    margin-left: 1rem;
  }

  .sm\:mt-\[169px\] {
    margin-top: 169px;
  }

  .sm\:block {
    display: block;
  }

  .sm\:flex {
    display: flex;
  }

  .sm\:text-\[13px\] {
    font-size: 13px;
  }
}

@media (min-width: 768px) {
  .md\:my-\[60px\] {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .md\:block {
    display: block;
  }

  .md\:flex {
    display: flex;
  }

  .md\:hidden {
    display: none;
  }

  .md\:w-\[300px\] {
    width: 300px;
  }

  .md\:justify-between {
    justify-content: space-between;
  }

  .md\:p-8 {
    padding: 2rem;
  }
}

@media (min-width: 1024px) {
  .lg\:m-\[70px\] {
    margin: 70px;
  }

  .lg\:mx-\[150px\] {
    margin-left: 150px;
    margin-right: 150px;
  }

  .lg\:mb-\[124px\] {
    margin-bottom: 124px;
  }

  .lg\:ml-\[50px\] {
    margin-left: 50px;
  }

  .lg\:ml-\[76px\] {
    margin-left: 76px;
  }

  .lg\:ml-\[80px\] {
    margin-left: 80px;
  }

  .lg\:ml-\[90px\] {
    margin-left: 90px;
  }

  .lg\:mr-\[76px\] {
    margin-right: 76px;
  }

  .lg\:mr-\[80px\] {
    margin-right: 80px;
  }

  .lg\:mt-0 {
    margin-top: 0px;
  }

  .lg\:mt-\[107px\] {
    margin-top: 107px;
  }

  .lg\:mt-\[150px\] {
    margin-top: 150px;
  }

  .lg\:mt-\[74px\] {
    margin-top: 74px;
  }

  .lg\:block {
    display: block;
  }

  .lg\:flex {
    display: flex;
  }

  .lg\:hidden {
    display: none;
  }

  .lg\:h-\[512px\] {
    height: 512px;
  }

  .lg\:w-1\/2 {
    width: 50%;
  }

  .lg\:w-\[1370px\] {
    width: 1370px;
  }

  .lg\:w-\[400px\] {
    width: 400px;
  }

  .lg\:gap-\[20px\] {
    gap: 20px;
  }

  .lg\:space-x-\[30px\] > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(30px * var(--tw-space-x-reverse));
    margin-left: calc(30px * calc(1 - var(--tw-space-x-reverse)));
  }

  .lg\:p-12 {
    padding: 3rem;
  }

  .lg\:text-\[37px\] {
    font-size: 37px;
  }
}

@media (min-width: 1280px) {
  .xl\:block {
    display: block;
  }

  .xl\:flex-row {
    flex-direction: row;
  }

  .xl\:pt-1 {
    padding-top: 0.25rem;
  }
}

@media (min-width: 1536px) {
  .\32xl\:block {
    display: block;
  }

  .\32xl\:h-\[420px\] {
    height: 420px;
  }

  .\32xl\:space-x-\[28px\] > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(28px * var(--tw-space-x-reverse));
    margin-left: calc(28px * calc(1 - var(--tw-space-x-reverse)));
  }
}
